body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4a90e2;
    /* Bright Blue */
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.review-form {
    margin-bottom: 30px;
}

.review-form h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.review-form form {
    display: flex;
    flex-direction: column;
}

.review-form label:not(.rating label) {
    margin-top: 10px;
}

.review-form input,
.review-form textarea {
    margin-bottom: 15px;
    padding: 5px;
}

.review-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #09f;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

.result {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

div.result.error {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid #ff8080;
}

div.result.success {
    color: green;
    background-color: #e6ffe6;
    border: 1px solid #80ff80;
}

#review-banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
